/* Basisinstellingen */
* {
    overflow:       hidden; /* zorgt ervoor dat boxen de hoogte hebben van wat erin zit */
    box-sizing:     border-box;
    border:         2px solid red; 
    
}

/* Basislayout */

html, body {
    overflow:       visible;
    /*height:         100%; */
    padding:        0;
    background-color:#EEEEEE;  
    
    color:          #303030;
    font:            Verdana, Arial, Sans-Serif;
    /*alle achtergrondinstellingen*/
    background-image: url(/afbeeldingen/reticular_tissue.png);
    background-repeat:repeat;    
}


main {
    margin:         0 auto;
    height:         100%;
    width:          1200px;
    position:       relative;
}


article {
    text-align:     left;
}


header {
    color:          skyblue;
    text-align:     center;
}


footer {
    text-align:     center;
    padding-bottom: 10px;
    
}


/* specifieke stijlen */

img.foto1 {
    float:          right;
    margin:         5px;
    padding-left:   15px;
}
.foto2 {
    float:          right;
    margin:         5px;
    padding-left:   15px;
}
   
    

.smalltext {
    font-size:      0.7em;
}

a {
    color:          skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* inhoud en menu */

.inhoudmenu 


.menu {
    position:       fixed; 
    float:left;
    margin-top:-100px;
    width:          180px ;
}


.inhoud {
float:              left;
 margin-left:       15%;
 width:             80%;
 
 font-family:'Trebuchet MS';
 color:rgb(122, 65, 0);
 font-size: 30px;
}

/* navigatiebalk */
nav ul { 
    list-style-type:none;
    margin-right:   5px;
    border: solid   10px black;
    background-color: lightgrey;
}



nav li a { 
    display:        block;
    block-size:     120px;
    color:          black;
    text-align:     left;
    padding:        30px ;
    text-decoration: none;
    font-size:      17px;
    
}

nav li a:hover {
    color:            rgb(211, 140, 9);
    background-color: black;
    block-size:       150px;
}

nav li a.active {
    background-color: rgb(211, 140, 9);
    color:            black;
}


