/* Basisinstellingen */
* {
    overflow:hidden; /* zorgt ervoor dat bocen de hoogte hebben van wat erin zit */
    box-sizing:border-box;
    border: 2px solid red;
}

/* Basislayout */

html, body {
    overflow:visible;
    height: 100%;
    padding: 0;
    background-color: #EEEEEE;  
    
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: skyblue;
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.foto1 {
    float: right;
    margin: 5px;
    padding-left: 15px;
}
.foto2 {
    float: right;
    margin: 5px;
    padding-left: 15px;
}
   
    

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* inhoud en menu */
.inhoudmenu {

}
.menu {
    float:left;
    width:120px;
}
.inhoud {
float: left;

 width:82%;
}

/* navigatiebalk */
nav ul {
    list-style-type:none;
    margin-left:0px;
    margin-right: 10px;
    margin-bottom:10px;
    margin-top:10px;
    border: solid 10px black;
    

    background-color: #dddddd;
  
 
}



nav li a {
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

nav li a:hover {
    color:rgb(211, 140, 9);
    background-color: black;
}

nav li a.active {
    background-color: rgb(211, 140, 9);
    
}



