/* Basisinstellingen */
* {
    overflow:       hidden; /* zorgt ervoor dat boxen de hoogte hebben van wat erin zit */ 
    box-sizing:     content-box;
    
}

/*hierin alle code voor de eerste openingspagina*/

.index {
    margin:         0;
  height:           100vh;
  display:          grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

.link-containers {
    display:        flex;
    flex-direction: column;
    justify-content:center;
    align-items:    center;
    height:         100%;
    position:       relative;
    z-index:        0;
}

.voorbeeldfout {
    font-size:      100px;
    color:          chartreuse;
    /*zoals u ziet word dit niet toegepast op de openingspagine. de 2 stukken hierboven, .index en .link-containers doen 
    het dus ook niet. deze samen met nog wat extras dat nu toch niet nodig is zouden moeten zorgen voor 5 grote kolommen
    die elk met evt een hover animatie de paginas zouden laten zien. */
}

/* Basislayout */

html, body {
    overflow:       visible;
    padding:        0;
    background-color:#EEEEEE;  
    
    color:          #ffffff;
    font:           Verdana, Arial, Sans-Serif;
    /*alle achtergrondinstellingen*/
    background-image:       url(/afbeeldingen/tiger-3.jpg);
    background-repeat:      no-repeat;    
    background-size:        100%;
    background-attachment:  fixed;
    
}


main {
    margin:         0 auto;
    width:          1200px;
    position:       relative;
}


article {
    text-align:     left;
}


header {
    color:          rgb(245, 109, 36);
    text-align:     center;
    font-size:      4em;
}


footer {
    text-align:     center;
    padding-bottom: 10px;
    position:       relative;

}


/* specifieke stijlen */

img.foto1 {
    float:          right;
    margin:         5px;
    padding-left:   15px;
}

   img.groter{
       size: 200px;
   }
    
   img.foto2 {
       float:       right;
       margin:      5px;
       padding-top: 300px;
   }

.smalltext {
    font-size:      1em;
}

.mooi1{
    width: 400px;
}

.mooi2{
    width: 400px;
}

.mooi3{
    width: 400px
}

.mooi4{
    width: 400px;
}

/* inhoud en menu */

.terug {
    display:        block;
    float:          left;
    color:          white;
    font-size:      xx-large;
    width:          180px;

}
.verder {
    display:        block;
    float:          right;
    color:          white;
    font-size:      xx-large;
    width:          180px;

}


.inhoud {
float:              left;
 margin-left:       15%;
 width:             85%;
 
 font-family:       'Trebuchet MS';
 color:             rgb(255, 255, 255);
 font-size:         30px;
}

